/*************************************/
/*              BUTTONS              */
/*************************************/
#btn__ref-show-hide {
    position: absolute;
    font-size: 3em;
    left: 10px;
    top: 35px;
    height: 15px;
    width: 15px;
    transition: left 0.5s ease;
}
#btn__show-hide-character {
    position: absolute;
    font-size: 3em;
    height: 10px;
    width: 10px;
    transition: left 0.5s ease;
    right: 16px;
    top: -5px;
    z-index: 200;
}
#btn__ref-show-hide.active {
	left: 340px;
}
#btn__show-hide-character.active {
    top: 7px;
}
#btn__show-hide-character:hover,
#btn__ref-show-hide:hover {
	cursor: pointer;
	opacity: 0.5;
}
#btn__show-hide-character>div>div {
	height: 100%;
    width: 100%;
    border: solid #5d000d;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
#btn__ref-show-hide.active>div:before {
    content: "\2329";
    margin-left: -15px;
}
#btn__ref-show-hide:not(.active)>div:before {
    content: "\232A";
}

#btn__show-hide-character:not(.active)>div>div {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#btn__show-hide-character.active>div>div {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.btn.active {
	opacity: 0.5;
}
.btn:not(.active):not(.disabled):hover {
	cursor: pointer;
	opacity: 0.7;
}
.btn:not(.active):not(.disabled):active {
	transform: scale(0.9);
}

.MacIntel .btn-chronicle {
    height: 110px;
}
.Win32 .btn-chronicle {
    height: 70px;
}
.btn-chronicle {
    width: 180px;
    display: table;
    text-align: center;
    background-color: #5d000d;
    color: #c5c5c5;
	font-family: 'Amethyst', cursive;
	font-size: 2em;
	border-radius: 5px;
	margin: 10px;
	padding: 5px 20px;
}
.btn-chronicle.disabled {
    opacity: 0.5;
}
.btn-chronicle>div {
	display: table-cell;
	vertical-align: middle;
}
.Win32 .btn-chronicle>div {
    padding-bottom: 20px;
}
.btn-location,
.btn-character {
    background-color: #5d000d;
    color: #c5c5c5;
    flex: 0 0 160px;
    text-align: center;
    display: table;
    border-radius: 5px;
    font-size: 0.75em;
    padding: 5px 0;
}
.btn-location>div,
.btn-character>div {
	display: table-cell;
	vertical-align: middle;
}

.close_users {
    background-color: #5d000d;
    color: #c5c5c5;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
}

.close_users__wrapper {
    margin: 0 auto;
    width: 260px;
}

#btn-chronicle__settings,
#btn-relationship_map {
    height: 50px;
    width: 50px;
    top: 48px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 2px solid #c5c5c5;
    border-left: 2px solid #c5c5c5;
    border-right: 2px solid #c5c5c5;
    position: absolute;
    background-color: #5d000d;
}
#btn-chronicle__settings {
    background-image: url('../img/settings.svg');
    right: 70px;
}
#btn-relationship_map {
    background-image: url('../img/kumu_logo.png');
    right: 140px;
}
.settings_btn {
    background-position: 5px;
    background-size: 40px;
    background-repeat: no-repeat;
}
