/*************************************/
/*             TOOLBAR               */
/*************************************/
#toolbar__wrapper {
    padding-top: 20px;
	height: calc( 100vh - 100px );
	position: absolute;
	font-size: 1.25em;
	font-family: 'Modern Antiqua', cursive;
	overflow-y: auto;
	overflow-x: hidden;
	transition: width 0.5s ease, padding-left 0.5s ease;
    background-color: black;
    z-index: 200;
    background-image: url(../img/background3.jpeg);
    background-size: cover;
}
#toolbar__wrapper:not(.slideLeft) {
	width: 297px;
    padding-left: 20px;
}
#toolbar__wrapper.slideLeft {
	width: 0px;
	padding-left: 0px;
}
#toolbar {
	margin-right: 30px;
}
.toolbar-item-header:hover,
.clan-compulsion-header:hover {
	cursor: pointer;
}
.toolbar-item,
.no-bullet,
.chapter {
	list-style-type: none;
}
.hover-link:not(.active):hover {
	cursor: pointer;
	background-color: #7D191640;
}
.hover-link.active {
	background-color: #7D191660;
}
#toolbar .toolbar-item-header {
    font-size: 2em;
    font-family: 'Amethyst';
}

/*************************************/
/*           STORY TOOLBAR           */
/*************************************/
#story-toolbar {
	position: absolute;
    right: 0;
    top: 0;
    background-color: #5d000d;
    margin: 30px 20px 0 0;
    padding:10px;
    border-radius: 5px;
    font-size: 1.25em;
    font-family: 'Modern Antiqua', cursive;
    opacity: 0.1;
    max-height: calc( 100vh - 260px );
    overflow-y: auto;
}
#story-toolbar:hover {
    opacity: 0.85;
}
.chapter:not(.active):hover {
	cursor: pointer;
}
.chapter.active {
	opacity: 0.7;
}
#story-toolbar-overlay {
	width: calc( 100% - 2px );
    bottom: 140px;
    left: 1px;
    background-color: black;
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
    opacity: 0.9;
    height: 0px;
    transition: height 0.5s ease;
}
#story-toolbar-overlay.active {
	height: 120px;
}
#story-toolbar-overlay>div {
	display: flex;
}
#chapter-header:before {
    content: "\e91f";
    font-family: 'chronicle-companion-10';
    position: absolute;
}
#character__btns:before {
    content: "\e923";
    font-family: 'chronicle-companion-10';
    position: absolute;
}
#location__btns:before {
    content: "\e903";
    font-family: 'chronicle-companion-10';
    position: absolute;
}
#notes:before {
    content: "\e907";
    font-family: 'chronicle-companion-10';
    line-height: 1.5;
}
#pc__btns div.header,
#npc__btns div.header,
#location__btns div.header {
    font-size: 0.75em;
    text-align: center;
}
#pc__btns__wrapper,
#npc__btns__wrapper,
#locations__btns__wrapper {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}


.spacer {
	flex: 0 0 1px;
}