@font-face {
  font-family: 'Amethyst';
  src: url('fonts/Amethyst.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Catull';
  src: url('fonts/Catull.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'chronicle-companion-10';
  src:
          url('fonts/chronicle-companion-10.ttf?t3vlwu') format('truetype'),
          url('fonts/chronicle-companion-10.woff?t3vlwu') format('woff'),
          url('fonts/chronicle-companion-10.svg?t3vlwu#chronicle-companion-10') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.container {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.container.iPhone #login__wrapper>div {
  padding: 10px 20px 35px;
}

.container:not(.iPhone) #login__wrapper>div {
  padding: 10px 20px;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Catull', serif;;
  --theme-color: #C5C5C5;
  color: var(--theme-color);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
body:not(.vampire):not(.dnd) {
  background-color: #00000099;
  background-blend-mode: darken;
  background-image: url(./img/background.jpeg);
}

body:not(.vampire):not(.dnd) .container {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

body.vampire {
  background-image: url(./img/vampire/background.png);
  --theme-color: #C5C5C5;
  --theme-background-color: #5D000D;
  --theme-accent-color: #515151;
}
body.dnd {
  background-image: url(./img/dnd/background.png);
  --theme-color: #cec2ae;
  --theme-background-color: #4a2932;
  --theme-accent-color: #515151;
}

.hidden { display: none; }
.flex:not(.hidden) {
  display: flex;
  flex-wrap: wrap;
}
.header {
  text-align: center;
}
#npc__btns>.header,
#location__btns>.header,
#character__btns>.header,
#sessions__wrapper>.header,
#general__wrapper>.header,
#sound-effects__wrapper>.header,
#maps__wrapper>.header {
  padding-top: 28px;
}

.img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.center {
  text-align: center;
}
.subheader {
  font-size: 0.75em;
}
.subheader>.subheader {
  font-size: 0.5em;
}