#btn__dice-roll__wrapper {
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid;
}
.right {
    float: right;
    margin-bottom: -15px;
}
.dice-roll>.right.subheader {
    padding-right: 15px;
}
#roll-type {
    font-size: 1.25em;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
#dice-results .title {
    font-size: 2em;
    text-align: left;
    opacity: 0.7;
    margin-bottom: -10px;
}
.dice-roll>div:not(.dice-result):not(.dice-result__tooltip) {
    margin-left: 10px;
}
.dice-result__tooltip {
    text-align: center;
}
#roll-type > div > input {
    color: #C5C5C5;
    font-size: 1em;
    background-color: transparent;
    width: 100%;
    outline: none !important;
    border: none !important;
    text-align: center;
}

.roll-type-item {
    font-size: 0.75em;
    padding: 0.25em;
}
.roll-type-item.active {
    background-color: #ffffff44;
    cursor: pointer;
}
#dice-pool__input,
#hunger-dice__input {
    font-size: 1.25em;
    font-family: 'Catull';
    text-align: center;
    border-radius: 5px;
    padding: 7px 5px 5px;
    margin-top: 3px;
    width: 53px;
    color: #C5C5C5;
    margin-bottom: 5px;
    margin-left: 10px;
    border: 1px solid;
}
#dice-pool__input {
    background: black;
}
#hunger-dice__input {
    background: #5d000d;
    border-top-right-radius: 0;
}
#dice-pool__input:disabled,
#hunger-dice__input:disabled {
    opacity: 0.5;
}
#hunger-dice__input-div {
    background: #5d000d;
    width: 20px;
    height: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.checkbox.selected:after {
    content: "\2715";
    color: #C5C5C5;
    margin-left: 4px;
    line-height: 20px;
}
body.vampire #btn_roll-dice {
    margin-left: 4px;
    margin-top: 12px;
    position: absolute;
    right: 20px;
}

body.dnd #btn_roll-dice {
    border-bottom: 1px solid;
    border-bottom-right-radius: 10px;
}
#btn_roll-dice {
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-top-right-radius: 10px;
    background-color: var(--theme-background-color);
    background-image: url(../img/dice.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    padding: 2px 10px 7px 5px;
    width: 25px;
    height: 23px;
}

#btn_private-roll {
    color: #c5c5c5;
    background-color: #610000;
    right: 62px;
    margin-left: 17px;
    margin-top: 12px;
    width: 20px;
    height: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.die {
    color: #c5c5c5;
    border: 2px solid #c5c5c5;
    margin: 0 3px 5px;
    border-radius: 10px;
    padding: 5px 0 5px 13px;
    height: fit-content;
}
.die.hunger {
    background: #5d000d;
}
.die:not(.hunger) {
    background-color: black;
}
.icon_success:before {
    content: "\e905";
}
.icon_critical_success:before {
    content: "\e902";
}
.icon_critical_success_hunger:before {
    content: "\e904";
}
.icon_failure:before {
    content: "\25CF";
    font-size: .8em;
    margin-left: -1px;
    position: relative;
    top: -7px;
}
.icon_bestial-failure:before {
    content: "\e901";
    font-size: 0.81em;
    line-height: 1.15;
    position: relative;
    top: -5px;
}
#dice-roll__window {
    color: #c5c5c5;
    width: 100%;
    height: calc( 100% - 86px );
    overflow: auto;
    border-radius: 5px;
    background-color: #000000aa;
}
#dice-results {
    margin: 20px 0;
}
body.vampire .dice-result {
    letter-spacing: 12px;
}
body.dnd .dice-result>div {
    background-color: #000000aa;
    border-radius: 3px;
    padding: 5px 10px;
    height: fit-content;
    margin: 0 5px;
}
.dice-result {
    font-size: 2em;
    font-family: 'chronicle-companion-10' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin: 0 auto;
    padding: 6px 0 4px;
    border-radius: 5px;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dice-roll {
    width: 260px;
    margin: 0 auto;
}
#dice-roll__window hr {
    width: 80%;
    border-color: #8C0013;
}
#rolling_as, #private-roll {
    background: var(--theme-background-color);
    border-radius: 5px;
    width: 100%;
    float: right;
    overflow: hidden;
    text-align: center;
    line-height: 2.25;
    transition: height 0.5s ease, margin-bottom 0.5s ease;
}
#rolling_as.open, #private-roll.open {
    height: 40px;
    margin-bottom: 10px
}
#rolling_as:not(.open), #private-roll:not(.open) {
    height: 0;
    margin-bottom: 0;
}