footer {
    display: table;
    position: fixed;
    bottom: 0;
    background: #000000aa;
    width: 100vw;
    height: 60px;
}
body.dnd footer {
    display: table;
}
body.dnd footer>p {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
    font-size: 0.75em;
}
body.vampire footer {
    display: flex;
}
#dark-pack-logo {
    flex: 0 0 90px;
    margin-top: 7px;
    height: 35px;
    background-image: url(../img/darkpack_tranparent_logo.png);
}
#dark-pack-text {
    flex: 0 0 calc( 100vw - 120px );
    display: table;
    height: 60px;
    font-size: 0.75em;
}
#dark-pack-text>p {
    display: table-cell;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: #7D1916;
    font-weight: bold;
}